.errors-red {
  color: red;
  display: flex;
  justify-content: left;
  width: 100%;
}

.dropDown-div {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 5px 0;
  width: 100%;
  align-items: center;
}

div > label {
  text-align: left;
}

.div-admin,
.dropDown-div {
  border: 1px solid grey;
  padding: 5px;
  align-items: center;
  display: flex;
  width: 100%;
}

.subButton {
  width: 100%;
}

.storyInput {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
}

.storyInput > textarea,
.storyInput > label {
  max-width: 100%;
}

.storyInput > textarea {
  height: 150px;
  padding: 5px;
  box-sizing: border-box;
  word-wrap: break-word;
  width: 100%;
  white-space: pre-wrap;
}

.url-input > input,
.url-input > label {
  width: 100%;
}

.url-input {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
}

.url-input > input {
  box-sizing: border-box;
  padding: 5px;
}
