h4 {
  margin-bottom: 0px;
}

.donation-card h2 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.donation-card {
  align-items: center;
}

.donation-tag {
  font-weight: 100;
}

.adopt-card,
.event-card,
.donation-card,
.volunteer-card {
  background-color: #00275e;
  border-radius: 10px;
  color: white;
  padding: 10px;
  display: flex;
  flex-flow: row nowrap;
  gap: 10px;
  height: auto;
  justify-content: space-between;
}

.volunteer-card {
  background-color: white;
  color: #ca0300;
  border: 1px solid grey;
  text-align: right;
}

.adopt-img,
.event-img {
  width: 50%;
  aspect-ratio: 1 / 1;
  background-color: white;
  border-radius: 10px;
}

.volunteer-img {
  border: 1px solid grey;
  width: 25%;
  aspect-ratio: 1/1;
}

.adopt-text-title,
.event-text-title {
  font-size: 2rem;
  font-weight: bolder;
  display: flex;
  flex-flow: row nowrap;
}

.event-card {
  background-color: #ca0300;
  flex-direction: row-reverse;
}

.regular-weight {
  font-weight: 100;
}

.adopt-text,
.event-text {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  text-align: right;
  font-weight: 300;
  font-size: 1.1rem;
  width: 50%;
}

.event-text {
  text-align: left;
}

@media (max-width: 768px) {
  .adopt-text,
  .event-text {
    width: 50%;
  }
}

@media (max-width: 480px) {
  .adopt-card,
  .event-card,
  .volunteer-card {
    padding: 10px;
  }

  .adopt-text,
  .event-text {
    font-size: 1rem;
  }

  .adopt-text,
  .event-text {
    width: 55%;
  }

  .adopt-text-title,
  .event-text-title {
    font-size: 2rem;
    font-weight: bolder;
    display: flex;
    flex-flow: row nowrap;
  }

  .adopt-text-title {
    text-align: right;
    justify-content: right;
  }
}
