h4 {
  margin-bottom: 0px;
}

.adopt-img,
.event-img,
.donation-img,
.volunteer-img,
.sponsors-img,
.adopt-detail-img {
  border-radius: 10px;
}

img {
  border-radius: 10px;
  object-fit: cover;
  width: 100%;
  height: 100%;
  display: block;
}

.donation-card h2 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.donation-card {
  align-items: center;
}

.donation-tag {
  font-weight: 100;
}

.adopt-card,
.event-card,
.donation-card,
.volunteer-card,
.sponsors-card,
.adopt-detail-card,
.genGreyContainer {
  background-color: #00275e;
  border-radius: 10px;
  color: white;
  padding: 10px;
  display: flex;
  flex-flow: row nowrap;
  gap: 10px;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
}

.genGreyContainer {
  background-color: #f1eff0;
  color: black;
  flex-flow: column wrap;
  margin: 10px 0 0 0;
}

.adopt-detail-card {
  background-color: rgb(240, 240, 240);
  border: 1px solid #00275e;
  margin: 10px 0;
  display: flex;
  flex-flow: row wrap;
  color: black;
  font-size: 0.9rem;
}

.adopt-detail-adptText {
  color: black;
  display: flex;
  flex-flow: column wrap;
  text-align: left;
  flex-grow: 1;
  font-size: 0.9rem;
}

.adopt-detail-adptText h1 {
  border-bottom: 1px solid black;
  margin-bottom: 5px;
}

.adopt-story-contain {
  position: relative;
}
.adopt-story-contain > button {
  border-radius: 10px;
  color: white;
  border: 1px solid #ca0300;
  background-color: #ca0300;
  font-size: 0.7rem;
  float: right;
  margin: 10px 0 0 0;
  padding: 5px;
}
.adopt-story-contain > text {
  display: inline-block;
}

.volunteer-card {
  background-color: white;
  color: #ca0300;
  border: 1px solid grey;
  text-align: right;
}

.sponsors-card {
  background-color: white;
  color: #00275e;
  border: 3px solid #00275e;
  text-align: left;
  flex-direction: row-reverse;
}

.adopt-img,
.event-img {
  width: 50%;
  background-color: white;
  aspect-ratio: 1 / 1;
}

.adopt-detail-img {
  width: 50%;
  aspect-ratio: 1/1;
}

.volunteer-img {
  width: 25%;
  aspect-ratio: 1/1;
}

.sponsors-img {
  width: 25%;
  aspect-ratio: 1/1;
}

.adopt-text-title,
.event-text-title,
.adopt-detail-title {
  font-size: 2rem;
  font-weight: bolder;
  display: flex;
  flex-flow: row nowrap;
}

.event-card {
  background-color: #ca0300;
  flex-direction: row-reverse;
}

.regular-weight {
  font-weight: 100;
}

.adopt-text,
.event-text,
.adopt-detail-text {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  text-align: right;
  font-weight: 300;
  font-size: 1.1rem;
  width: 50%;
}

.event-text {
  text-align: left;
}
