/* TODO: Add sitewide styles */
/* Extra small devices (phones) */

@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap");

.ubuntu-condensed {
  font-family: "Ubuntu Condensed", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-condensed {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

button {
  cursor: pointer;
}
button:hover {
  background-color: white;
  color: black;
}

Button:hover {
  color: white;
}

@media only screen and (max-width: 840px) {
  .small-screens {
    background-color: red;
  }

  body {
    padding: 20px 10px;
    max-width: 100%;
    min-width: 60%;
    margin: 0 auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: auto;
  }
}

/* Small devices (tablets) */
@media only screen and (min-width: 841px) {
  .big-screens {
    background-color: red;
  }
  .navLinkStyle {
    color: white;
    font-size: 16px;
    color: orange;
  }
  .logo-image {
    height: 6vh;
    cursor: pointer;
  }
  body {
    padding: 20px 0px;
    max-width: 65%;
    min-width: 60%;
    margin: 0 auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: auto;
  }
}

html {
  /* font-family: system-ui, -apple-system, Roboto; */
  height: 100%;
  font-size: 16px;
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

body::-webkit-scrollbar {
  width: 0;
}
body::-webkit-scrollbar-track {
  background: transparent;
}
body::-webkit-scrollbar-thumb {
  background-color: transparent;
}

h1 {
  font-size: 2em;
}

label {
  font-size: 1em;
}

.errorsPtag {
  color: red;
  font-weight: bold;
  padding: 4px;
  text-align: center;
  border-radius: 8px;
}

.logo-image-login {
  width: 100%;
}

.formErrors {
  color: red;
  background-color: rgb(58, 58, 58);
  padding: 5px;
}

#root {
  margin: 0 0 125px 0;
}
